@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
/* @font-face {
  font-family: Vibur;
  src: url(//fonts.googleapis.com/css?family=Vibur);
} */


/* .title {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    font-size: 6rem;
    font-family:neon
} */
 

/* .neon{
  font-family: 'Neon', cursive;
  font-size:75px;
  color: #FFD5FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        /* //text-shadow: none; */
    /* opacity: .99;
        
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
} */ 


/* html,body{
  height:100%
}
body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0
} */



.name {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}

.name b{
  font: 400 19vh "Pacifico";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #44b4ff, 0 0 0.5em #44a5ff, 0 0 0.1em #44a5ff, 0 10px 3px #000;
}
.name b span{
  animation: blink linear infinite 2s;
}
.name b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
.name b span:nth-of-type(3){
  animation: blink linear infinite 2.5s;
}
.name b span:nth-of-type(4){
  animation: blink linear infinite 3.5s;
}
.name b span:nth-of-type(5){
  animation: blink linear infinite 4s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
  
  