@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap'); */


.name {
  display: flex;
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.name b{
  font: 400 10vh "Pacifico";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 
               0 0 1em #44b4ff, 
               0 0 0.5em #44a5ff, 
               0 0 0.1em #44a5ff, 
               0 10px 3px #000;
}

.name b span{
  animation: blink linear infinite 2s;
}

.name b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}

.name b span:nth-of-type(3){
  animation: blink linear infinite 2.5s;
}

.name b span:nth-of-type(4){
  animation: blink linear infinite 3.5s;
}

.name b span:nth-of-type(5){
  animation: blink linear infinite 4s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}  
