@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --fade-gray: #333333;
  --name-white: #ffeeee;
  --shadow1: #44b4ff;
  --shadow2: #44a5ff;
  --off: #000000;
}

/* Neon Name Styling */

.name {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

/* .name b first{
  animation: blinkOnFirst ease 4s;
}

.name b last{
  animation: blinkOnLast ease 4s;
}


@keyframes blinkOnFirst {
  0% {
      opacity: 0;
  } 
  27% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes blinkOnLast {
  0% {
      opacity: 0;
  }
  2% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
} */


.name b{
  font-weight: 400;
  font-size: 20vh;
  font-family: "Pacifico";
  color: var(--name-white);
  text-shadow: 0 -40px 100px, 
               0 0 2px, 
               0 0 1em var(--shadow1), 
               0 0 0.5em var(--shadow2), 
               0 0 0.1em var(--shadow2), 
               0 10px 3px var(--off);
}

.name b span{
  animation: blink linear infinite 2s;
}

.name b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}

.name b span:nth-of-type(3){
  animation: blink linear infinite 2.5s;
}

.name b span:nth-of-type(4){
  animation: blink linear infinite 3.5s;
}

.name b span:nth-of-type(5){
  animation: blink linear infinite 4s;
} 

 @keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: var(--fade-gray);
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: var(--fade-gray);
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: var(--fade-gray);
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}  
